/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			port {
				dsi_out: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};

			dsi_panel: dsi_panel@0 {
				compatible = "youritech,et055wu01-tt";
				reg = <0>;
				vcc-supply = <&vdd_5v0_reg>;
				backlight = <&dsi_backlight>;

				port {
					panel_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};
		};
	};

	fragment@4 {
		target = <&gpio>;
		__overlay__ {
			pwm0_pins: pwm0_pins {
				brcm,pins = <12>;
				brcm,function = <4>; /* Alt0 */
			};
		};
	};

	fragment@5 {
		target = <&pwm>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pwm0_pins>;
			status = "okay";
		};
	};

	fragment@6 {
		target = <&pwm>;
		__overlay__ {
			status = "okay";
			dsi_backlight: backlight {
				compatible = "pwm-backlight";
				pwms = <&pwm 0 1000000 0>;
				brightness-levels = <0 128 255>;
				default-brightness-level = <128>;
				num-interpolated-steps = <2>;
			};
		};
	};
};
